<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dani.introandroiddemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasicTextViewActivity" />
        <activity android:name=".LinearLayoutDemoActivity" />
        <activity android:name=".LayoutGravityActivity" />
        <activity android:name=".BasicViewsActivity" />
        <activity android:name=".ViewAttributesActivity" />
        <activity android:name=".SimpleListViewActivity" />
        <activity
            android:name=".BasicClickHandlersActivity"
            android:label="@string/title_activity_basic_click_handlers" />
        <activity
            android:name=".ListViewClicksActivity"
            android:label="@string/title_activity_list_view_clicks" />
        <activity
            android:name=".ExplicitIntentActivity"
            android:label="@string/title_activity_explicit_intent" />
        <activity
            android:name=".SimpleBundleDemoActivity"
            android:label="@string/title_activity_simple_bundle_demo" />
        <activity
            android:name=".ImplicitIntentsActivity"
            android:label="@string/title_activity_implicit_intents" />
        <activity
            android:name=".IntentWithResultActivity"
            android:label="@string/title_activity_intent_with_result" />
        <activity android:name=".SimpleReturnResultActivity" />
        <activity
            android:name=".ActionBarMenuActivity"
            android:label="@string/title_activity_action_bar_menu" />
        <activity
            android:name=".BasicImageDownloadActivity"
            android:label="@string/title_activity_basic_image_download" />
        <activity
            android:name=".AsyncTaskPerformActivity"
            android:label="@string/title_activity_async_task_perform"/>
        <activity android:name=".SmartImageDownloadActivity"
            android:label="@string/title_activity_smart_image_download">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>